.player {
  margin: 0;
  font-weight: bold;
  padding: 0.5rem 0;
  display: block;
}

.active {
  border: 2px solid #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #f8c031;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

.nonActive {
  border: 2px solid transparent;
}

.active .player-name,
.active .player-symbol {
  color: #f6e35a;
}

.editButton {
  width: 3rem;
  border: none;
  background: none;
  color: #c3ba78;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem;
  text-align: center;
}

.editButton:hover {
  color: #f8ca31;
}

.player-name {
  display: inline-block;
  font-size: 1rem;
  width: 10rem;
  color: #e1dec7;
  text-transform: uppercase;
  padding: 0.5rem;
  text-overflow: ellipsis;
  text-align: center;
}

.player input[type='text'] {
    display: inline-block;
    font: inherit;
    font-size: 1rem;
    width: 10rem;
    border: none;
    padding: 0;
    margin: 0.5rem;
    animation: pulse-text 2s infinite;
    background-color: #46432f;
    text-align: center;
    text-transform: uppercase;

  }

@media screen and (max-width: 800px) {
  .player {
    width: 5rem;
    text-overflow: ellipsis;
    justify-content: center;
  }

  .player-name {
    display: inline-block;          /* Keep it inline-block for width */
    width: 5rem;                   /* Set a fixed width */
    white-space: nowrap;           /* Prevent text wrapping */
    overflow: hidden;              /* Hide overflow content */
    text-overflow: ellipsis;        
    text-align: center;   

  }
  

  .player input[type='text'] {
    width: 100%;
  }

  .name-container span {
    margin: 0 auto;
    display: block;
    width: 5rem;
  }

  .player input[type='text'] {
    width: 5rem;
    text-overflow: ellipsis;
  }
}



.player-symbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: #e1dec7;
}

.players button {
  width: 3rem;
  border: none;
  background: none;
  color: #c3ba78;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem;
  text-align: center;
}

.players button:hover {
  color: #f8ca31;
}
