

.primaryContainer {
  background-color: #6e07f3; /* Background color for the primary container */
  position: relative; /* Ensure positioning for child elements */
  width: 100vw; /* Full viewport width */
  left: 50%; /* Shift to center */
  right: 50%; /* Shift to center */
  margin-left: -50vw; /* Negative margin to offset half the viewport width */
  margin-right: -50vw; /* Negative margin to offset half the viewport width */
}

.container {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: -14rem auto;
  padding: 14rem 0 5rem 0;
}

.expandedContainer{
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: -37rem auto;
  padding: 41rem 0 5rem 0;
}

/*
  margin: -10rem auto;
  padding: 18rem 0 5rem 0;
*/