.container {
  width: 90%;
  margin: 2rem auto;

}

.projects {
  width: 100%;
  list-style: none;
  padding: 1rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 2rem;
}


.itemList {
  box-sizing: border-box; 
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: #f3f3f3;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.title{
  font-size: 1.5rem;
}

@media (max-width: 870px) {
  .itemList{
    width: 80%;
    margin: 2rem auto;
  }
}

.projectContent{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.itemList img {
  width: 100%; /* Image takes full width */
  height: auto;
  object-fit: cover; /* Image stays in aspect ratio */
  aspect-ratio: 1 / 1; /* Square aspect ratio */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.techs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 90%;
  margin-top: 2rem;
}

.techs p{
  padding: 0.5rem;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  border-radius: 8px;
  margin: 0;
}

.links{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links a{
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 8px;
}


