
@tailwind components;
@tailwind utilities;


html{
  overflow-x: hidden;
}



:root {
  --background-color: #ffffff; 
  --primary-background-color: #6E07F3;
  --primary2-background-color: #242424;
  --ecommerce-primary-background-color: linear-gradient(180deg, #253c3c, #1d4949);
;
  --color: #1b254c;
  --primary-color: #ffffff;
  --border-color: #E6ECF8;

  --your-button-background: oklch(0.76 0.09 200.03); 
  --your-button-hover-background: #0056b3; 
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  background: var(--background-color);
  color: var(--color);
  text-align: center;
}

.main-container{
  max-width: 1350px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

.container {
  display: flex; /* Use flexbox */
  height: 100vh;
  justify-content: space-between; /* Space between columns */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}


li,p{
  margin-top: 0.5rem;
  line-height: 1.4;
}

ul, ol {
  list-style-type: none; /* Removes bullet points or numbering */
  padding: 0;            /* Optional: Removes padding */
  margin: 0;             /* Optional: Removes margin */
}

a{
  text-decoration: none;
  color: inherit;
}

em{
  color: var(--primary-background-color);
  font-weight: 800;

}

.mainTitle{
    font-weight: 800;
    font-size: 2rem;
    padding: 5rem 0 0rem 0; 
    margin:0;
  }
@media only screen and (min-width: 1250px) {


}

@media screen and (max-width: 1024px) {
  .mainTitle {
      font-weight: 800;
      font-size: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  body{
    text-align: center;
  }
  h1,h2{
    font-size: 3rem;
  }
}



