/* ProgressBar.module.css */
.progress {
    background-color: #a64a4a;
    height: 10px; /* Customize as needed */
    border-radius: 1rem;
  }
  
  .progress::-webkit-progress-bar {
    background-color: #a64a4a;
    border-radius: 1rem;
  }
  
  .progress::-webkit-progress-value {
    background-color: #5d0909; /* Customize the fill color */
    border-radius: 1rem;
  }
  
  .progress::-moz-progress-bar {
    background-color: #ff0000; /* Customize the fill color */
  }
  