.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 18rem 2rem;
  min-height: 50vh;
}

.title {
  margin: 0 0 0.25rem 0.25rem;
}

.sub-title {
  font-size: 1.5rem;
  margin: 0.25rem;
}

.description {
  font-size: 1.25rem;
  margin: 0.5rem 0.25rem;
}

.button {
  height: 4rem;
  text-align: center;
  margin: 2rem auto;
  width: 15rem;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.button:first-child {
  background: transparent;
  font-weight: normal;
  color: #ff9b05;
  padding-left: 0;
}

.button:first-child:hover,
.button:first-child:active {
  background: transparent;
  color: #f9b241;
}
